<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL SHORTNER</title>
</head>
<body>
    <h2>URL SHORTNER</h2>
    <form action="/auth/shorturl" method="post">
        <label>URL:</label><br>
        <input type="text" required name="original_url"><br><br>
        <button type="submit">Shorten URL</button>
    </form>
    
</body>
</html>